
body{
  background-color: #d6ffa6;
  
}

.todoinputmain{
  margin-top: 10px;
  background-color: 
  #f4ff81;
  border-radius: 20px;
  border: 2px solid black;
  
  
}
.todoinputmain:hover{
  margin-top: 10px;
  background-color: 
  #ffea98;
  transform: scale(1.1);
  transition: all .4s ease;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid black;
  
  
}



form .form-group .inputtext{
  width: 50%;
  margin: auto;
}
.todoinputmain .maininfo{
  font-weight: 500;
  
}
.todoinputmain .cardtag{
  font-weight: bolder;
  font-size: 40px;
  
}


button{
  border-radius: 2.2rem !important;
}